<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCloudEpgLabel" jhiTranslate="cornerstoneCloudServerApp.cloudEpg.home.createOrEditLabel">Create or edit a Cloud Epg</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!cloudEpg.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="cloudEpg.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cornerstoneCloudServerApp.cloudEpg.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="cloudEpg.name" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cornerstoneCloudServerApp.cloudEpg.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="cloudEpg.description" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cornerstoneCloudServerApp.cloudEpg.epgDefinition" for="field_epgDefinition">Epg Definition</label>
            <textarea class="form-control" name="epgDefinition" id="field_epgDefinition"
                [(ngModel)]="cloudEpg.epgDefinition" ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cornerstoneCloudServerApp.cloudEpg.accountName" for="field_accountName">Account Name</label>
            <input type="text" class="form-control" name="accountName" id="field_accountName"
                [(ngModel)]="cloudEpg.accountName" required/>
            <div [hidden]="!(editForm.controls.accountName?.dirty && editForm.controls.accountName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.accountName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cornerstoneCloudServerApp.cloudEpg.urlMappings" for="field_urlMappings">Url Mappings</label>
            <textarea class="form-control" name="urlMappings" id="field_urlMappings"
                [(ngModel)]="cloudEpg.urlMappings" ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cornerstoneCloudServerApp.cloudEpg.graphInfo" for="field_graphInfo">Graph Info</label>
            <textarea class="form-control" name="graphInfo" id="field_graphInfo"
                [(ngModel)]="cloudEpg.graphInfo" ></textarea>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
