<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCloudMeuZipLabel" jhiTranslate="cornerstoneCloudServerApp.cloudMeuZip.home.createOrEditLabel">Create or edit a Cloud Meu Zip</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!cloudMeuZip.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="cloudMeuZip.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cornerstoneCloudServerApp.cloudMeuZip.fileName" for="field_fileName">File Name</label>
            <input type="text" class="form-control" name="fileName" id="field_fileName"
                [(ngModel)]="cloudMeuZip.fileName" required/>
            <div [hidden]="!(editForm.controls.fileName?.dirty && editForm.controls.fileName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.fileName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cornerstoneCloudServerApp.cloudMeuZip.zipFile" for="field_zipFile">Zip File</label>
            <div>
                <div *ngIf="cloudMeuZip.zipFile" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(cloudMeuZip.zipFileContentType, cloudMeuZip.zipFile)" jhiTranslate="entity.action.open">open</a><br>
                    <span class="pull-left">{{cloudMeuZip.zipFileContentType}}, {{byteSize(cloudMeuZip.zipFile)}}</span>
                    <button type="button" (click)="cloudMeuZip.zipFile=null;cloudMeuZip.zipFileContentType=null;"
                            class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_zipFile" (change)="setFileData($event, cloudMeuZip, 'zipFile', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="zipFile" id="field_zipFile"
                [(ngModel)]="cloudMeuZip.zipFile" required/>
            <input type="hidden" class="form-control" name="zipFileContentType" id="field_zipFileContentType"
                [(ngModel)]="cloudMeuZip.zipFileContentType" />
            <div [hidden]="!(editForm.controls.zipFile?.dirty && editForm.controls.zipFile?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.zipFile?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div [hidden]="!(editForm.controls.cloudMeu?.dirty && editForm.controls.cloudMeu?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.cloudMeu?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
