
<div *ngIf="cloudMeuZip">
    <h2><span jhiTranslate="cornerstoneCloudServerApp.cloudMeuZip.detail.title">Cloud Meu Zip</span> {{cloudMeuZip.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cornerstoneCloudServerApp.cloudMeuZip.fileName">File Name</span></dt>
        <dd>
            <span>{{cloudMeuZip.fileName}}</span>
        </dd>
        <dt><span jhiTranslate="cornerstoneCloudServerApp.cloudMeuZip.zipFile">Zip File</span></dt>
        <dd>
            <div *ngIf="cloudMeuZip.zipFile">
                <a (click)="openFile(cloudMeuZip.zipFileContentType, cloudMeuZip.zipFile)" jhiTranslate="entity.action.open">open</a>
                {{cloudMeuZip.zipFileContentType}}, {{byteSize(cloudMeuZip.zipFile)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'cloud-meu-zip/'+ cloudMeuZip.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
