<div>
    <h2>
        <span jhiTranslate="cornerstoneCloudServerApp.cloudApp.home.title">Cloud Apps</span>
        <button class="btn btn-primary float-right jh-create-entity create-cloud-app" [routerLink]="['/', { outlets: { popup: ['cloud-app-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="cornerstoneCloudServerApp.cloudApp.home.createLabel">
            Create new Cloud App
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="cloudApps">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="cornerstoneCloudServerApp.cloudApp.name">Name</span></th>
            <th><span jhiTranslate="cornerstoneCloudServerApp.cloudApp.description">Description</span></th>
            <th><span jhiTranslate="cornerstoneCloudServerApp.cloudApp.epgs">Epgs</span></th>
            <th><span jhiTranslate="cornerstoneCloudServerApp.cloudApp.configurations">Configurations</span></th>
            <th><span jhiTranslate="cornerstoneCloudServerApp.cloudApp.uploadFile">Upload File</span></th>
            <th><span jhiTranslate="cornerstoneCloudServerApp.cloudApp.status">Status</span></th>
            <th><span jhiTranslate="cornerstoneCloudServerApp.cloudApp.accountName">Account Name</span></th>
            <th><span jhiTranslate="cornerstoneCloudServerApp.cloudApp.buildFileId">Build File Id</span></th>
            <th><span jhiTranslate="cornerstoneCloudServerApp.cloudApp.resouceMapping">Resouce Mapping</span></th>
            <th><span jhiTranslate="cornerstoneCloudServerApp.cloudApp.buildLog">Build Log</span></th>
            <th><span jhiTranslate="cornerstoneCloudServerApp.cloudApp.appContent">App Content</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cloudApp of cloudApps ;trackBy: trackId">
                <td><a [routerLink]="['../cloud-app', cloudApp.id ]">{{cloudApp.id}}</a></td>
                <td>{{cloudApp.name}}</td>
                <td>{{cloudApp.description}}</td>
                <td>{{cloudApp.epgs}}</td>
                <td>{{cloudApp.configurations}}</td>
                <td>{{cloudApp.uploadFile}}</td>
                <td jhiTranslate="{{'cornerstoneCloudServerApp.AppStatus.' + cloudApp.status}}">{{cloudApp.status}}</td>
                <td>{{cloudApp.accountName}}</td>
                <td>{{cloudApp.buildFileId}}</td>
                <td>{{cloudApp.resouceMapping}}</td>
                <td>{{cloudApp.buildLog}}</td>
                <td>{{cloudApp.appContent}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../cloud-app', cloudApp.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cloud-app/'+ cloudApp.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cloud-app/'+ cloudApp.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
