<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCloudAppLabel" jhiTranslate="cornerstoneCloudServerApp.cloudApp.home.createOrEditLabel">Create or edit a Cloud App</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!cloudApp.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="cloudApp.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cornerstoneCloudServerApp.cloudApp.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="cloudApp.name" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cornerstoneCloudServerApp.cloudApp.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="cloudApp.description" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cornerstoneCloudServerApp.cloudApp.epgs" for="field_epgs">Epgs</label>
            <input type="text" class="form-control" name="epgs" id="field_epgs"
                [(ngModel)]="cloudApp.epgs" required/>
            <div [hidden]="!(editForm.controls.epgs?.dirty && editForm.controls.epgs?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.epgs?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cornerstoneCloudServerApp.cloudApp.configurations" for="field_configurations">Configurations</label>
            <textarea class="form-control" name="configurations" id="field_configurations"
                [(ngModel)]="cloudApp.configurations" ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cornerstoneCloudServerApp.cloudApp.uploadFile" for="field_uploadFile">Upload File</label>
            <textarea class="form-control" name="uploadFile" id="field_uploadFile"
                [(ngModel)]="cloudApp.uploadFile" ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cornerstoneCloudServerApp.cloudApp.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="cloudApp.status" id="field_status" >
                <option value="APP_BUILDING">{{'cornerstoneCloudServerApp.AppStatus.APP_BUILDING' | translate}}</option>
                <option value="APP_BUILD_SUCCESS">{{'cornerstoneCloudServerApp.AppStatus.APP_BUILD_SUCCESS' | translate}}</option>
                <option value="APP_BUILD_FAILED">{{'cornerstoneCloudServerApp.AppStatus.APP_BUILD_FAILED' | translate}}</option>
                <option value="APP_NOT_SUPPORT">{{'cornerstoneCloudServerApp.AppStatus.APP_NOT_SUPPORT' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cornerstoneCloudServerApp.cloudApp.accountName" for="field_accountName">Account Name</label>
            <input type="text" class="form-control" name="accountName" id="field_accountName"
                [(ngModel)]="cloudApp.accountName" required/>
            <div [hidden]="!(editForm.controls.accountName?.dirty && editForm.controls.accountName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.accountName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cornerstoneCloudServerApp.cloudApp.buildFileId" for="field_buildFileId">Build File Id</label>
            <input type="text" class="form-control" name="buildFileId" id="field_buildFileId"
                [(ngModel)]="cloudApp.buildFileId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cornerstoneCloudServerApp.cloudApp.resouceMapping" for="field_resouceMapping">Resouce Mapping</label>
            <textarea class="form-control" name="resouceMapping" id="field_resouceMapping"
                [(ngModel)]="cloudApp.resouceMapping" ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cornerstoneCloudServerApp.cloudApp.buildLog" for="field_buildLog">Build Log</label>
            <textarea class="form-control" name="buildLog" id="field_buildLog"
                [(ngModel)]="cloudApp.buildLog" ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cornerstoneCloudServerApp.cloudApp.appContent" for="field_appContent">App Content</label>
            <textarea class="form-control" name="appContent" id="field_appContent"
                [(ngModel)]="cloudApp.appContent" ></textarea>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
