<div>
    <h2>
        <span jhiTranslate="cornerstoneCloudServerApp.cloudMeu.home.title">Cloud Meus</span>
        <button class="btn btn-primary float-right jh-create-entity create-cloud-meu" [routerLink]="['/', { outlets: { popup: ['cloud-meu-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="cornerstoneCloudServerApp.cloudMeu.home.createLabel">
            Create new Cloud Meu
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="cloudMeus">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="cornerstoneCloudServerApp.cloudMeu.groupId">Group Id</span></th>
            <th><span jhiTranslate="cornerstoneCloudServerApp.cloudMeu.name">Name</span></th>
            <th><span jhiTranslate="cornerstoneCloudServerApp.cloudMeu.version">Version</span></th>
            <th><span jhiTranslate="cornerstoneCloudServerApp.cloudMeu.type">Type</span></th>
            <th><span jhiTranslate="cornerstoneCloudServerApp.cloudMeu.meuDefinition">Meu Definition</span></th>
            <th><span jhiTranslate="cornerstoneCloudServerApp.cloudMeu.cloudMeuZip">Cloud Meu Zip</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cloudMeu of cloudMeus ;trackBy: trackId">
                <td><a [routerLink]="['../cloud-meu', cloudMeu.id ]">{{cloudMeu.id}}</a></td>
                <td>{{cloudMeu.groupId}}</td>
                <td>{{cloudMeu.name}}</td>
                <td>{{cloudMeu.version}}</td>
                <td>{{cloudMeu.type}}</td>
                <td>{{cloudMeu.meuDefinition}}</td>
                <td>
                    <div *ngIf="cloudMeu.cloudMeuZip">
                        <a [routerLink]="['../cloud-meu-zip', cloudMeu.cloudMeuZip?.id ]" >{{cloudMeu.cloudMeuZip?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../cloud-meu', cloudMeu.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cloud-meu/'+ cloudMeu.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cloud-meu/'+ cloudMeu.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
