<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCloudMeuConfigurationLabel" jhiTranslate="cornerstoneCloudServerApp.cloudMeuConfiguration.home.createOrEditLabel">Create or edit a Cloud Meu Configuration</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!cloudMeuConfiguration.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="cloudMeuConfiguration.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cornerstoneCloudServerApp.cloudMeuConfiguration.filename" for="field_filename">Filename</label>
            <input type="text" class="form-control" name="filename" id="field_filename"
                [(ngModel)]="cloudMeuConfiguration.filename" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cornerstoneCloudServerApp.cloudMeuConfiguration.content" for="field_content">Content</label>
            <textarea class="form-control" name="content" id="field_content"
                [(ngModel)]="cloudMeuConfiguration.content" ></textarea>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cornerstoneCloudServerApp.cloudMeuConfiguration.cloudMeu" for="field_cloudMeu">Cloud Meu</label>
            <select class="form-control" id="field_cloudMeu" name="cloudMeu" [(ngModel)]="cloudMeuConfiguration.cloudMeu"  required>
                <option *ngIf="!editForm.value.cloudMeu" [ngValue]="null" selected></option>
                <option [ngValue]="cloudMeuOption.id === cloudMeuConfiguration.cloudMeu?.id ? cloudMeuConfiguration.cloudMeu : cloudMeuOption" *ngFor="let cloudMeuOption of cloudmeus; trackBy: trackCloudMeuById">{{cloudMeuOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.cloudMeu?.dirty && editForm.controls.cloudMeu?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.cloudMeu?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
