<div>
    <h2>
        <span jhiTranslate="cornerstoneCloudServerApp.cloudMeuConfiguration.home.title">Cloud Meu Configurations</span>
        <button class="btn btn-primary float-right jh-create-entity create-cloud-meu-configuration" [routerLink]="['/', { outlets: { popup: ['cloud-meu-configuration-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="cornerstoneCloudServerApp.cloudMeuConfiguration.home.createLabel">
            Create new Cloud Meu Configuration
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="cloudMeuConfigurations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="cornerstoneCloudServerApp.cloudMeuConfiguration.filename">Filename</span></th>
            <th><span jhiTranslate="cornerstoneCloudServerApp.cloudMeuConfiguration.content">Content</span></th>
            <th><span jhiTranslate="cornerstoneCloudServerApp.cloudMeuConfiguration.cloudMeu">Cloud Meu</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cloudMeuConfiguration of cloudMeuConfigurations ;trackBy: trackId">
                <td><a [routerLink]="['../cloud-meu-configuration', cloudMeuConfiguration.id ]">{{cloudMeuConfiguration.id}}</a></td>
                <td>{{cloudMeuConfiguration.filename}}</td>
                <td>{{cloudMeuConfiguration.content}}</td>
                <td>
                    <div *ngIf="cloudMeuConfiguration.cloudMeu">
                        <a [routerLink]="['../cloud-meu', cloudMeuConfiguration.cloudMeu?.id ]" >{{cloudMeuConfiguration.cloudMeu?.meu}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../cloud-meu-configuration', cloudMeuConfiguration.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cloud-meu-configuration/'+ cloudMeuConfiguration.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cloud-meu-configuration/'+ cloudMeuConfiguration.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
